.App {
  background-color: #191970;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container {
  height: calc(300px + 20vh);
  width: calc(150px + 30vw);
  background-color: wheat;
  position: relative;
  border-radius: 10px;
  background: #191970;
  box-shadow: inset 20px 20px 60px #101045, 
  inset -20px -20px 60px #23239b;

}

.list-item {
  position: relative;
  font-weight: bold;

  width: 100%;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}

.input-form {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-self: center;
  bottom: 0px;
  padding: 20px;
}

.item-container {
  position: absolute;
  max-height: 80%;
  overflow-y: auto;
  width: 100%;
  padding: 20px;
}